<template>
  <header class="header">
    <div><i class="fa fa-viruses"></i> Covid-19 Tracker</div>
  </header>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style lang="scss" scoped>
.header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background: darkblue;
  color: #fff;
  margin-bottom: 10px;
  padding: 1rem;
}
</style>
