<template>
  <div id="app">
    <Header />
    <div class="container">
      <router-view />
    </div>
  </div>
</template>

<script>
import Header from "./components/Header";

export default {
  name: "App",
  components: {
    Header
  }
};
</script>

<style lang="scss">
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 2rem;
}
</style>
